*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: whitesmoke;
    padding: 30px;
}
a{
    text-decoration: none;
}
.main{
    width:100%;
    min-height: 100vh;
    margin: auto;
}
.header{
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    justify-content: space-between;
    color: #312e2e
}
.header .logo{
    font-size: 30px;
    font-weight: 700;
}

.header .searcharea{
    display: flex;
    position: fixed;
    right: 90px;
    top: 40px;
    width: 170px;
    height: 45px;
    border: 1px solid rgba(167, 158, 245m, 0.1);
    background-color: #ffffff;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    box-shadow:2px, 2px, 30px, rgba(167, 158, 245m, 0.2);
    font-size: 1rem;
}
.header .searcharea input{
    width: 130px;
    height: 45px;
    margin-left: 30px;
    border: none;
    outline: none;
    background: none;
    padding-left: 15px;
    font-size: 12px;
    border-radius: 20px;
    font-family:"Calibri", sans-serif;
    letter-spacing: 3px;
}
.header .searcharea i{
    color: black;
    position: relative;
    left: 35px;
    top: 14px;
}
.section1{
    position: relative;
    height: 100%;
    width: 100vh;
    display: flex;
    font-size: 2rem;
    transform: translate(15%,50%);
}
.section1 .theme_image img{
    height: 300px;
    width: auto;
}
.section1 .theme_text_logo{
    position: relative;
    font-family: "Roboto", sans-serif;
    left: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow:2px 2px 10px rgba(0,0,0, 0.1);
    letter-spacing: 3px;
    color: #3d3d4a;
}
.section1 .theme_text_logo .theme_text .winter{
    letter-spacing: 28px;
}
span{
    color: #7A72FF;
}
.details{
    width: 150px;
    height: 40px;
    color: #FFFFFF;
    background-color: #2f2e41;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family: calibri;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 0.5px;
    font-size: 1rem;
    border: transparent !important;
    transform: translate(-155px, 0px);
}
.section1 .theme_text_logo .details:hover{
    background-color: #7A72FF;
    transition: 0.6s;
}

.contract_bar{
    height: 260px;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: fixed;
    top: 450px;
    left : 30px;
    background-color:#FFFFFF;
    box-shadow:2px 2px 30px rgba(0,0,0,0.2);
    border-radius: 20px;
    
}

.contract_bar i{
    color: rgba(39, 39, 39, 0.7);
    cursor: pointer;
}
.contract_bar .fa-facebook-f:hover{
    color: #3b5998;
    transition: 0.3s;
}
.contract_bar .fa-twitter:hover{
    color: #00acee;
    transition: 0.3s;
}
.contract_bar .fa-instagram:hover{
    color: #C13584;
    transition: 0.3s;
}
.contract_bar .fa-linkedin-in:hover{
    color: #0e76a8;
    transition: 0.3s;
}

.section2{
   
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #312e2e;
    font-family: 'Roboto', sans-serif;
    position: relative;
}
.section2 img{
    height: 180px;
    width: auto;
}
