*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
.main{
    width:100%;
    min-height: 100vh;
    margin: auto;
}
/* header */
.header{
    margin-top: 70px;
    margin-left: 120px;
    margin-right: 80px;
    font-size: 80px;
    display: flex;
    justify-content: space-between;
    color: #312e2e
}
.header .logo{
    font-size: 50px;
    font-weight: 700;
}

.header .searcharea{
    display: flex;
    position: fixed;
    right: 95px;
    top: 55px;
    width: 140px;
    height: 45px;
    border: 1px solid rgba(167, 158, 245m, 0.1);
    background-color: #ffffff;
    border-radius: 15% 15% 15% 15%/50% 50% 50% 50%;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    box-shadow:2px 2px 30px rgba(167, 158, 245, 0.2);
    font-size: 1rem;
    z-index: 1;
}
.header .searcharea input{
    width: 130px;
    height: 45px;
    margin-left: 30px;
    border: none;
    outline: none;
    background: none;
    padding-left: 15px;
    font-size: 12px;
    border-radius: 20px;
    font-family: 'Dancing Script';
    letter-spacing: 3px;
}
.header .searcharea i{
    color: black;
    position: relative;
    left: 35px;
    top: 14px;
}
/* section 1 */
.section1{
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    top: 80px;
    margin-bottom: -100px;
    justify-content: space-evenly;
    align-items:center;
    gap: 12.5rem;
    padding: 60px 5%;
    font-size: 2rem;
    transform: none;
}
.section1 .theme_image img{
    height: 18.75rem;
    width: auto;
}
.section1 .theme_text_logo{
    position: relative;
    font-family: Roboto, sans-serif;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-shadow:2px 2px 10px rgba(0,0,0, 0.1);
    letter-spacing: 3px;
    color: #3d3d4a;
}
.section1 .theme_text_logo .theme_text .winter{
    letter-spacing: 28px;
}
span{
    color: #7A72FF;
}
.theme_text_logo .details{
    width: 150px;
    height: 40px;
    color: #FFFFFF;
    background-color: #2f2e41;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family:"calibri", sans-serif;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 0.5px;
    font-size: 1rem;
    border: transparent !important;
    transform: none;
}
.theme_text_logo .details:hover{
    background-color: #7A72FF;
    transition: 0.6s;
}
/*contract Bar */
.contract_bar{
    height: 260px;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: fixed;
    top: 450px;
    left : 30px;
    background-color:#FFFFFF;
    box-shadow:2px 2px 30px rgba(0,0,0,0.2);
    border-radius: 20px;
    z-index: 1; 
}
.contract_bar i{
    color: rgba(39, 39, 39, 0.7);
    cursor: pointer;
}
.contract_bar .fa-facebook-f:hover{
    color: #3b5998;
    transition: 0.3s;
}
.contract_bar .fa-twitter:hover{
    color: #00acee;
    transition: 0.3s;
}
.contract_bar .fa-instagram:hover{
    color: #C13584;
    transition: 0.3s;
}
.contract_bar .fa-linkedin-in:hover{
    color: #0e76a8;
    transition: 0.3s;
}
/* Section2 */
.section2{
    width: 90%;
    display: flex;
    flex-direction: column;
    position : relative;
    align-items: center;
    margin:300px auto;
    background-color: #ffffff;
    box-shadow: 2px 2px 30px rgba(167,158,245,0.2);
    padding: 40px 20px;
    border-radius: 10px;
    background-size: auto;
}
.section2 img{
    height: 180px;
    width: auto;
}
h3{
    margin: 20px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.05);
    font-family: "myriad pro", sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 2rem;
    color: #323543;
}
.products{
    display: flex;
    justify-content: space-around;    
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 130px;
    gap: 60px;
}
.product{
    width: 250px;
    height: 330px;
    background-color: #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 60px;
    align-items: center;
    position: relative;
}
.details.cart{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 12px auto 0;
    transform: none;
}
h4{color: #4d4d4d70;}

.product p, .details.cart{
    color: #2c2c2c;
    font-family: poppins;
    font-size: 1rem;
}
.details.cart{
    width: 140px;
    height: 40px;
    font-family:'calibri';
    margin-top: 35px;
    padding: 10px;
    border-radius: 15% 15% 15% 15%/50% 50% 50% 50%;
    background: linear-gradient(120deg, #6b60ec 20%, #a166f4);
    color: #ffffff;
    border: transparent !important;
    display: none;
    animation: fade 0.2s;
}
.product:hover .details.cart{
    display: flex;
    cursor: pointer;
}
.product:hover{
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
/* About */
.about{
    margin:150px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -230px
}
.about_text{
    width: 45%;  
}
.about_text > h1{
   font-size: 50px;
   padding: 20px 0;
   color: #3b5998;
}
.about_text h2{
    font-size: 35px;
    font-weight: 500;
    padding: 10px 0;
}
.about_text p{
    color: #bdbdbd;
    font-size: 1rem;
}


.about img{
    width: 500px;
    height: auto;
    margin-top: 50px;
}
.section2.showcase{
    margin: -240px auto;
}
/* Notification */
.notification{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 350px;
    position: relative;
}
.notification .email{
    width: 500px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7% 7% 7% 7% / 50% 50% 50% 50%;
    margin-top: 30px;
    box-shadow: 2px 5px 30px rgba(0,0,0,0.1);
    padding: 5px 20px;
}
.notification .email button{
    width: 120px;
    height: 40px;
    background-color: #202020;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: transparent;
}
.notification .email button:hover{
   background-color: #7A72FF;
    transition: 0.6s;
}
.notification .email input{
    border: transparent;
}
/* footer s*/
.footer{
    margin-top: 50px;                    /* push to bottom */
    background-color: #000 !important;
    padding: 20px 30px;
    text-align: center;
}
.footer p{
    text-align: center;
    color: #f2f2f2;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1280px) {
    .header .searcharea{
        
    }
  
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    .header .searcharea{
        width: 120px;
        height: 40px;
    }
    .header .searcharea input{
    width: 120px;
    height: 40px;
    }
    .header .searcharea i{
    top: 12px;
    }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .header .searcharea{
        width: 100px;
        height: 35px;
        right: 80px;
        }
    .header .searcharea input{
        width: 100px;
        height: 35px;
    }
    .header .searcharea i{
        top: 10px;
    }
    .header .logo{
        font-size: 40px;
        font-weight: 700;
    }
    .section1{
        flex-direction: column; 
        margin-bottom: -120px;
        gap: 1rem;
        font-size: 1rem;
    }
    .section1 .theme_image img{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 600px;
    }
    .theme_text{
        display: flex;
    }
   .section1 .theme_text_logo .theme_text .winter{
        letter-spacing: 15px;
        font-size: 80px;
    }
    .section1 .theme_text_logo .theme_text .collection{
        font-size: 35px;
    }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .header .searcharea{
        width: 100px;
        height: 35px;
        right: 60px;
    }
    .header .searcharea input{
    width: 100px;
    height: 35px;
    }
    .header .searcharea i{
    top: 10px;
    }
    .header .logo{
    font-size: 30px;
    font-weight: 700;
    }
    .section1{
        flex-direction: column; 
        margin-bottom: -120px;
        gap: 1rem;
        font-size: 1rem;
    }
    .section1 .theme_image img{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 360px;
    }
    .theme_text{
        display: flex;
    }
   .section1 .theme_text_logo .theme_text .winter{
        letter-spacing: 10px;
        font-size: 40px;
    }
    .section1 .theme_text_logo .theme_text .collection{
        font-size: 18px;
    }
    .about img{
        display: none;
    }
    .about .about_text{
        width: 100%;
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .header .searcharea{
        width: 100px;
        height: 35px;
        right: 30px;
    }
    .header .searcharea input{
    width: 100px;
    height: 35px;
    }
    .header .searcharea i{
    top: 10px;
    }
    .header .logo{
        font-size: 30px;
        margin-left: -50px;
    }
    .section1{
        flex-direction: column; 
        margin-bottom: -120px;
        gap: 1rem;
        font-size: 1rem;
    }
    .section1 .theme_image img{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 340px;
    }
    .theme_text{
        display: flex;
    }
   .section1 .theme_text_logo .theme_text .winter{
        letter-spacing: 10px;
        font-size: 40px;
    }
    .section1 .theme_text_logo .theme_text .collection{
        font-size: 18px;
    }
    .about img{
        display: none;
    }
    .about .about_text{
        width: 100%;
    }
}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .header .searcharea{
        width: 100px;
        height: 35px;
        right: 25px;
    }
    .header .searcharea input{
    width: 100px;
    height: 35px;
    }
    .header .searcharea i{
    top: 10px;
    }
    .header .logo{
    font-size: 20px;
    margin-left:-50px;
    }
    .section1{
        flex-direction: column; 
        margin-bottom: -120px;
        gap: 1rem;
        font-size: 1rem;
    }
    .section1 .theme_image img{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 300px;
    }
    .theme_text{
        display: flex;
    }
   .section1 .theme_text_logo .theme_text .winter{
        letter-spacing: 10px;
        font-size: 40px;
    }
    .section1 .theme_text_logo .theme_text .collection{
        font-size: 18px;
    }
   
    .about img{
        display: none;
    }
    .about .about_text{
        width: 100%;
    }
}